.venv
/.venv
/venv
venv
trading_data.db
test.py
signals.xlsx
cookies.pkl
*.pyc
/.idea
/.vscode
*.session
my_session.session
/my_session.session
*.txt
*.json
news/news.txt
/news/news.txtmy_session.session-journal
